.Dashboard {
    text-align: center;

    .dashboard-container {
        display: flex;

        .link {
            margin: 2%;
            text-decoration: none;
            color: black;
        }

        .dashboard-card {
            width: 20vw;
            height: 40vh;
            border: 1px solid black;
            color: black;

            img {
                width: 100%;
                height: 40vh;
            }
        }
    }
}