.Food {
    text-align: center;

    .restaurant-list {
        display: flex;
        flex-wrap: wrap;
    }

    .restaurant-card {
        width: 25%;
        img {
            width: 90%;
            height: 50%;
        }
    }
}