body {
    margin: 0%;
  }
.Home {
    text-align: center;
    background-image: url('../assets/images/beach.jpg');
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    margin-top: -4%;
}