@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
        display: flex;
        align-items: center;
        width: 50%;

        .link {
            text-decoration: none;
            color: black;
            width: 100%;
            padding: 2% 5%;
        }

        h1 {
            font-family: 'Playball', cursive;
            font-size: 36px;
            margin: 0% 0%;
        }
    }

    .nav-right {
        width: 50%;
        
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
    
            button {
                margin: 0% 1%;
            }
        }
    }
}