@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
        width: 50%;
        display: flex;
        align-items: center;

        a {
            width: 15%;
            img {
                width: 60%;
                padding: 10% 0% 0% 10%;
            }
        }

        h1 {
            font-family: 'Playball', cursive;
            font-size: 36px;
            margin: 0% 0%;
        }
    }

    .nav-right {
        width: 50%;
        
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
    
            button {
                margin: 0% 1%;
            }
        }
    }
}